.details{
    position: relative;
    padding:5rem;
    width: 100%;
    height: 90vh;
    color: #f9f9f9;
    display: flex;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-flow:column nowrap;
    z-index: 1;
    .backImg{
        position:absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: fill;
    }
    .img{
        width: 45rem;
        height:25rem;
        img{
            width: 100%;
            height:100%;
            object-fit:fill;
        }
    }
    .info{
        padding-left: 1rem;
        .btns{
            width:35rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-flow: row nowrap;
            margin-bottom: 1rem;
            a{
                display: flex;
                align-items: center;
            }
        }
        .two{
            width:70%;
            padding-left: 2rem;
            .sm{
                font-size: 1.5rem;
                margin: .5rem 0;
            }
            .lg{
                font-size: 1.9rem;
            }
        }
    }
}