.lgbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100vw;
  height: 30vh;
  .lgimgbox {
    cursor: pointer;
    overflow: hidden;
    margin: 0.8rem 0;
    width: 22rem;
    height: 18rem;

    background: transparent;
    transition: all 250ms ease 0s;
    border: 0.3rem solid #f9f9f91a;
    border-radius: 1.4rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    &:hover {
      transform: scale(1.05);
      border-radius: 1.4rem;
      border-color: #ffffffe5;
    }
  }
}
@media screen and (min-width: 768px) {
  .lgimgbox {
    width: 28rem;
    height: 18rem;
  }
}
