html{
  font-size: 62.5%;
}
*,*:before,*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   background-color:  #040714;
   width: 100%;
   overflow-x: hidden;
  user-select: none;
  &::-webkit-scrollbar{
    display: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:768px){
    html{font-size: 51%;}
    body{overflow-x: hidden;}

}